.footer-container{
    text-decoration: none;
    text-align: center;
    color: #dddddd;
    font-size: 20px;
    font-weight: 500;
    margin-top: 200px;
}

a{
    text-decoration: none;
    text-align: center;
    color: #dddddd; 
}