<div class="card">
  <img class="lat" src="assets/lat.png" class="iatimage" alt="lat mockup" />
  <div class="text-container">
    <p class="heading">Lots</p>
    <p class="green">a</p>
    <p class="heading">Travel</p>
    <p class="desc">
      There are many religious places around us which we are not aware of. So
      this app mainly focuses on the religious places and also gives you the
      must see places and also the must do things. It gives all the details of
      the places too.
    </p>
  </div>
</div>
